/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.newsletter-signup-section-container {
  columns: 2;
}

.newsletter-signup-side-container {
  padding: 32px;
  height: 100%;
}

.newsletter-signup-features-container {
  padding: 16px;
}

.newsletter-signup-image {
  width: 200%;
  height: auto;
  display: block;
  object-fit: cover;
}

.desktop-size-container {
  max-width: 1280px;
  padding: 32px;
  columns: 12;
  column-gap: 32px;
}

.tablet-size-container {
  max-width: 100%;
  padding: 32px;
  columns: 6;
  column-gap: 32px;
}

.mobile-size-container {
  max-width: 100%;
  padding: 16px;
  columns: 4;
  column-gap: 16px;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
